<main>
   <section class="cadre-auth">
       <h2>Modifier mon post</h2>
       <hr>
        <!--On affiche le formulaire -->
        <div *ngIf="!msgBoolean">
       <div *ngIf="FormGroup">
   <form  [formGroup]="FormGroup" enctype="multipart/form-data" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="file" class="text-color">Ajoutez une image</label>
      <input accept="image/*" id="imageURL" type="file"  class="form-control" (change)="onFileChange($event)">
      <br>
      <img [src]="imageSRC" class="img-profil-user" *ngIf="imageSRC"  alt="image du post!" style="width:300px">
  </div>
 
      <div>
       <div class="form-group" >
         <label for="title" class="text-color" >Titre</label>
         <input type="text" class="form-control" id="title" formControlName="title" >
      
       </div>
     
       <div class="form-group"> 
         <div class="input-group-prepend">
           <label for="contenu" class="text-color" >contenu</label>
         </div>
         <textarea class="form-control" formControlName="contenu" required></textarea>
         </div>
      </div>
       <button class="btn btn-danger center-block" type="submit">Modifier mon post!</button>
     </form>
    </div>
  </div>
    <div *ngIf="msgBoolean" class="msgCreate">
      <p class="text-success">{{msg}}</p>
     <button class="btn.btn-default" (click)="onPost()">Continuer</button> 
    </div>
  </section> 
   </main>
