<main>
    <div class="cadre-post">
        <p class="text-danger">{{ errorMSG }}</p>
        <p class="text-success">{{ msg }}</p>
       <div class="post" >
        <div class="card" >
            
            <div class="card-body">
              
              </div>
             
              <button class="btn btn-primary" type="submit">
                   <a routerLink="../post/create" title="Créer un post" >Créer un post</a>
                </button>

                 <div class="card-body" *ngFor="let post of posts">
                  <div class="post">
                   
                    <button type="button" class="button-trash" *ngIf="userid == post.User.id" (click)="deletePostU(post.id)">
                      <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                  <p class="user" *ngIf="post.contenu">{{post.User.username}} {{post.User.usersurname}}</p>
                   <p class="title" *ngIf="post.title"> {{post.title}} </p>
                   <hr>
                     <p  *ngIf="post.imageURL"> {{post.imageURL}} </p>
                     <p  *ngIf="post.contenu"> {{post.contenu}}</p> 
                     
                    </div>
               </div>
          </div>
    </div> 
    </div>
    </main> 
    
