<main>
    <section class="cadre-post">
        <p class="text-success"></p>
        <div *ngIf="!postBoolean">

       <!--On affiche un message ( Aucun post ) si aucun posts n'est présent dans le fil -->
        <p class="text-success" >{{ msg }}</p>
      </div>
              <button class="btn btn-primary" type="submit">
                   <a routerLink="../post/create">Créer un post</a>
                </button>

                 <!--On affiche les données d'utilisateur et la date de création des posts -->
                  <div class="post" *ngFor="let post of posts">
                    <div class="conteneur">
                  <div class="user" *ngIf="post.contenu">
                  <img src="./assets/profile.png" *ngIf="!post.User.photoURL" alt="Photo de profil">
                   <img [src]="post.User.photoURL"  *ngIf="post.User.photoURL" class="imagePost" alt="Photo de profil" >
                    {{post.User.username}} {{post.User.usersurname}}
                   <p  class="heure">{{post.createdAt | date:'d MMM à h:mm a'}}
                      <span class="Admin" *ngIf='post.User.isAdmin'>Admin</span>
                    </p>
                  </div>
                   
                 
                   <!--On affiche les likes -->
                  <div class="like-post">
                    <i class="fas fa-thumbs-up thumbs-gris"  aria-hidden="true" (click)="LikePosts(post.id)" aria-label="Like"></i>
                    <span class="nbLike">{{post.likes}}</span>
                    <div *ngFor="let like of likes;" >                  
                  <i *ngIf="like.UserId == userid && like.MessageId == post.id" class="fas fa-thumbs-up thumbs-vert" aria-hidden="true"  aria-label="Vous aimez"  (click)="LikePosts(post.id)" ></i>  
                </div>
                <div *ngIf="msgBooleanLike">
                  <div  *ngIf="messageId == post.id" class="text-confirm-like">
                    <p *ngIf="messageId == post.id" >{{msgLike}}</p>
                   <button *ngIf="messageId == post.id" class="btn btn-secondary" (click)="onLike()" aria-label="Fermer cette fenêtre">Ok</button> 
                   </div>
                  </div>
                </div>
               </div>
                     
                  <!--On affiche la confirmation du post supprimé-->
                    <div class="contenu-post">
                      <div *ngIf="msgBoolean">
                      <div  *ngIf="idmessage == post.id" class="text-confirm">
                        <p *ngIf="idmessage == post.id" >{{msg}}</p>
                       <button *ngIf="idmessage == post.id" class="btn btn-success" (click)="onPost()" aria-label="Fermer cette fenêtre">Ok</button> 
                       </div>
                      </div>
                  
                   <!--On affiche les posts -->
                  <p class="title" *ngIf="post.title"> {{post.title}} </p>
                     <div class="postimage">
                     <p  *ngIf="post.imageURL"> <img [src]="post.imageURL" class="imagePost"> </p>
                    </div>
                     <p  *ngIf="post.contenu" > {{post.contenu}}</p> 
                    </div>
                     
                    
                     <!--On affiche l'icone de suppression d'un commentaire et son texte de confirmation  -->
                     <div  *ngFor="let commentaire of commentaires" >
                       <div class="commentaire" *ngIf="commentaire.MessageId == post.id">
                        <button type="button" class="button-trash_comment" *ngIf="userid == commentaire.UserId" (click)="deletecommentaire(commentaire.id)" aria-label="Supprimer ce commentaire">
                          <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                        <div *ngIf="commentBoolean">
                          <div  *ngIf="idCommentaire == commentaire.id" class="text-confirm">
                            <p *ngIf="idCommentaire == commentaire.id" >{{msgComment}}</p>
                           <button *ngIf="idCommentaire == commentaire.id" class="btn btn-success" (click)="onComment()" aria-label="Fermer cette fenêtre">Ok</button> 
                           </div>
                          </div>

                           <!--On affiche les commentaires-->
                      <p class="user-commentaire" ><img src="./assets/profile.png" *ngIf="!commentaire.User.photoURL" alt="Photo de profil">
                        <img [src]="commentaire.User.photoURL" class="photo-profil"  *ngIf="commentaire.User.photoURL"> {{commentaire.User.username}} {{commentaire.User.usersurname}} <span class="heure-commentaire"> {{commentaire.createdAt | date:'d MMM à h:mm a'}}</span></p>
                      <p class="Admin-commentaire" *ngIf='commentaire.User.isAdmin'>Admin</p>
                      <p class="comment" > {{commentaire.commentaire}} </p>
                    </div>
                  </div>

                 
                      <!--On créer un commentaire -->
                     <form [formGroup]="FormGroup" (ngSubmit)="onSubmitcomment(post.id)">
                      <div class="form-group">
                        <textarea class="form-control" aria-label="Laissez un commentaire" formControlName="commentaire" placeholder="Répondez quelque chose...">
                        </textarea>
                        </div>
                        <div *ngIf="commentsBoolean">
                          <div  *ngIf="idCommentaire == post.id" class="text-confirm">
                            <p *ngIf="idCommentaire == post.id" >{{msgComments}}</p>
                           <button *ngIf="idCommentaire == post.id" class="btn btn-success" (click)="onComment()" aria-label="Fermer cette fenêtre">Ok</button> 
                           </div>
                          </div>
                      <button class="btn btn-danger center-block" type="submit">répondre!</button>
                    </form>
                     
                     <!--On affiche le bouton de suppression d'un post -->
                    <button type="button" class="button-trash"  *ngIf="userid == post.User.id" (click)="deletePostU(post.id)" aria-label="Supprimer ce post">
                      <i class="fas fa-trash" aria-hidden="true"></i>
                    </button>
                   
                     <!--On affiche le bouton supprimer un post-->
                    <button type="button"  class="button-trash-right" *ngIf="userid == post.User.id" (click)="PostUpdate(post.id)"> Modifier</button>
                   </div> 
                  </section>
                       </main> 
    
