<main>
    <div class="cadre-auth">
        <h2>Mon profil</h2>
        <hr>
        <div class="img-profil">
        <img src="./assets/profile.png" alt="Photo de profil">
    </div>
    <form>
        <div class="form-group">
          <label for="username" class="text-color" >Nom</label>
          <input type="text" class="form-control" id="username" Name="username" placeholder="haddock" required >
        </div>
        <div class="form-group">
            <label for="usersurname" class="text-color" >Prénom</label>
            <input type="text" class="form-control" id="usersurname" Name="usersurname" placeholder="Archibald" required >
        </div>
        <div class="form-group">
            <label for="email" class="text-color" >Email</label>
            <input type="email" class="form-control" id="email" Name="email" placeholder="dupont@mail.fr" required >
          </div>

          <div class="form-group">
            <div class="input-group-prepend">
              <label for="contenu" class="text-color" >Description</label>
            </div>
            <textarea class="form-control" name="contenu"></textarea>
            </div>
        <button class="btn btn-primary" type="submit" >Je Valide mes changements!</button>
      </form>

    </div> 
    </main>

    
    