<main>
    <div class="cadre-auth">
        <h2>{{username}} {{usersurname}} ({{isAdmintxt}}) </h2>
        <hr>
        <div *ngIf="FormGroup"> 
        

    <button type="button" class="btn btn-danger" id="bouton" (click)="deleteProfils()">
      Supprimer mon compte
     </button>
     
    <form [formGroup]="FormGroup" enctype="multipart/form-data" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="file" class="text-color">Ajoutez une photo</label>
        <input accept="image/*" id="photoURL" type="file"  class="form-control" (change)="onFileChange($event)">
    </div>
    <div class="img-profil">
      <img src="./assets/profile.png" class="img-profil-origin"  *ngIf="!photoSrc" alt="Photo de profil">
        <img [src]="photoSrc" class="img-profil-user" *ngIf="photoSrc"  alt="Photo de profil">
  </div>
       
   
     
        <div class="form-group">
          <label for="username" class="text-color" >Nom</label>
          <input type="text" class="form-control" id="username" formControlName="username"  required >
        </div>
        <div class="form-group">
            <label for="usersurname" class="text-color" >Prénom</label>
            <input type="text" class="form-control" id="usersurname" formControlName="usersurname"  required >
        </div>
        <div class="form-group">
            <label for="email" class="text-color" >Email</label>
            <input type="email" class="form-control" id="email" formControlName="email"  required >
          </div>

          <div class="form-group">
            <div class="input-group-prepend">
              <label for="description" class="text-color" >Description</label>
            </div>
            <textarea class="form-control" formControlName="description"></textarea>
            </div>
        <button class="btn btn-primary" type="submit" >Je Valide mes changements!</button>
      </form>
     </div>
     
    </div> 
    </main>

    
    