/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    width: 100%;
    display:flex;
    flex-direction: column;
    background:url('./assets/font.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
}

footer{
    
    width: 100%;
    height: 50px;
    background:#002e63;
    ;
}

.footer{
    width: 100%;
    display: flex;
  
}

.footer-text{
    width: 100%;
    justify-content: space-around;
    color: white;
    padding-top: 10px;
   text-align: center;

}

.header{
    width: 100%;
    background: #002e63;
    height: 120px;
  }
  .header li{
    margin: auto;
    margin-right:20px;
    margin-top: 20px;
    list-style:none;
    color: white;
}

  .header img{
   margin: auto;
   text-align:center;
   margin-top: 20px;
   width: 200px;

  }

  .header nav ul{
    margin-top: px;   
  }

  .header-desktop{
   display: none;
  }

  @media all and (min-width: 490px) {
      .header{
        display: none;
      }
    .header-desktop{
        display: block;
        margin-top: -10px;
        width: 100%;
        background: #002e63;
        min-height: 70px;
      }
  }
  
  .logo-menu{
    float: left;
  
  }

  .conteneur{
      height: 50px;
  }
  
  .logo-menu img{
    padding-top: 20px;
    padding-left: 10px;
    width: 200px;
  }

  .text-color{
      color: white;
  }
  
  .title{
     
     font-weight: 600; 
     font-size: 1.1em;
     margin-top: 30px;
     text-align: center;
  }

  hr{
    border : 1px solid rgb(3, 98, 143);
    top: 20px;
  }

  .user{
    float: left;
    color:rgb(59, 112, 172);
    font-weight: 600;
}

  li{
      float:right;
      margin-right:20px;
      margin-top: 20px;
      list-style:none;
      color: white;
  }
  .cadre-auth{
    margin:auto;
    margin-top:100px;
    padding: 20px;
    width: 90%;
    height: auto;
    background:#002e63d3;
    border-radius: 5px;
    box-shadow: -1px 0px 24px 6px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 24px 6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 24px 6px rgba(0,0,0,0.75);
}

@media all and (min-width: 1000px) {
    .cadre-auth {
        width: 40%;
    }
  }

button{
    font-size: 1.2em;
    color: white;
    background:#002e63 ;
    border:none;
    border-radius: 5px;
}

button:hover{
    background:#002e637c ;
}

h1, h2{
    color: white;
    margin-top: 0px;
    text-align: center;
    font-size: 1.7em;
    
}

 .compte{
     text-align: center;
     margin-top: 20px;
     color: wheat;
 }

 .compte a{
     text-decoration: underline;
 }

 input.Checkbox { 
    transform : scale(1.5); 
    }

 span{
     padding-left: 20px;
     color: white;
 }

 span a{
     text-decoration: underline;
 }

 .cadre-post{
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    padding: 20px;
    width: 97%;
    min-height: 100vh;
    background:#002e63d3;
    border-radius: 5px;
    box-shadow: -1px 0px 24px 6px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 24px 6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 24px 6px rgba(0,0,0,0.75);
}




.post{
    padding: 10px;
    margin: auto;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.842);
    margin-top: 25px;
    border-radius: 5px;
    text-align:center;
}
    .list-group-item{
        margin:auto;
        width: 100%;
        text-align: center;
    }

    .card{
    margin-top: -30px;
    margin-bottom: 20px;
    width: 100%;
    background: transparent;
    }

    .text-danger{
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        background-color: rgb(223, 188, 113);
        border-radius: 5px;
    }

    .text-success{
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        background-color: white;
        border-radius: 5px;
    }

    .fa-trash{
        color: red;
        font-size: 1.2em;
    }

    .button-trash{
        background: transparent;
        float: left;
        margin-top: -30px;
    }
    .button-trash_comment{
        background: transparent;
        float: right;
        margin-right: 10px;
        margin-top:10px;
    }

    .commentaire{
        margin-left: 0;
        color: black;
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid black;
        min-height: 30px;
        width: 100%;
        background-color: white;
    }

    
   
  .post img{
      width: 50px;
  }

  .user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.like-post{
    margin: auto;
    padding-top: 20px;
    float:right;
}

.thumbs-gris, .thumbs-vert{
    
    position: absolute;
    font-size: 1.8em;
    cursor: pointer;
    margin-top: -15px;
    color: #747474;
    transition: all 1s linear;
    right: 50px;
     
    }
    
    .thumbs-vert {

     background: rgba(3, 192, 13, 0.7);
     background: linear-gradient(360deg,  rgba(5, 231, 16, 0.7) 0%,  rgba(3, 211, 13, 0.726) 0%,  rgb(34, 114, 38) 93%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
  }  

  .thumbs-gris {
    color: rgba(105, 105, 105, 0.7);
  
 }  

  .nbLike{
      position: absolute;
      font-size: 1.1em;
      color:rgba(105, 105, 105, 0.7);
      right: 85px;
      margin-top:-7px;
  }

  @media all and (min-width: 1240px) {
    .thumbs-gris, .thumbs-vert{

        right: 300px;
         
        }

        .nbLike{
            right: 335px;
        }
  }

  .button-trash-right{
      float: right;
      background: green;
      margin-top: -34px;
      height: 35px;
  }

  .heure{
      color:rgb(90, 88, 88);
      margin-top:-20px;
      margin-left: 70px;
      padding-left: 20px;
      font-size: 0.8em;

  }

  .heure-commentaire{
    display: block;
    color:rgb(90, 88, 88);
    margin-top:-17px;
    margin-left: 35px;
    font-size: 0.8em;

}

.msgCreate{
    padding-top: 50px;
    width: 90%;
    font-size :1.2em;
    margin: auto;
}
.postimage img{
    max-width: 600px;
    width: 80%;
}
.user-commentaire{
    padding-top: 5px;
    font-weight: 600;
    text-align: left;
    width: 100%;
    margin-left: 20px;
    color:rgb(59, 112, 172);
}

.comment{
    margin-top: 27px;
    padding: 3px;
}

.photo-profil{
    border-radius: 50%;
    width: 100px;
    height: 50px;
}
.Admin{
    display: block;
    color:green;
    top: 15px;
    margin-left: -181px;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 4px;
}

.Admin-commentaire{
    color:green;
    margin-top: -11px;
    float: left;
    font-weight: 600;
    margin-left: 22px;
}

form{
    margin-top: 20px;
}
.contenu-post{
  margin-top: 50px;
}
.text-confirm{
    z-index: 99999;
    height:100px;
    border:2px solid red;
    background: rgb(244, 245, 191);
    border-radius: 20px;
    color: Black;
    font-size: 1.2em;
    padding-top: 20px;
}
.text-confirm-like{
    position: absolute;
    margin-left: -200px;
    width: 200px;
    margin-top: -50px;
    z-index: 99999;
    height:auto;
    border:2px solid #002e63;
    background: rgb(244, 245, 191);
    border-radius: 20px;
    color: Black;
    font-size: 1em;
    padding-top: 20px;
}



 
  
  