<main>
    <div class="cadre-auth">
        <h2>Créer un post</h2>
        <hr>
        
    <form [formGroup]="FormGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title" class="text-color" >Titre</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titre ( pas obligatoire!)" >
        </div>
      
        <div class="form-group">
          <div class="input-group-prepend">
            <label for="contenu" class="text-color" >contenu</label>
          </div>
          <textarea class="form-control" formControlName="contenu" required></textarea>
          </div>
           
        <button class="btn btn-danger center-block" type="submit">créer mon post!</button>
      </form>
    </div> 
    </main>
    